<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>VinhPhan.PortfolioApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>portfolioapp</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>rectangle.stack.badge.plus</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Issue</string>
			<key>UIApplicationShortcutItemType</key>
			<string>portfolioapp://newIssue</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>ViewBackgroundColor</string>
		<key>UIImageName</key>
		<string>launchscreen</string>
	</dict>
</dict>
</plist>
